*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0d0d0d;
    color:#fff;
    line-height:1.6;
}

header{
    background:#111;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#FFD700;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#FFD700;
}

.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
}

.hero h1{
    font-size:55px;
    color:#FFD700;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    max-width:700px;
    margin:auto;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#FFD700;
    color:#000;
    text-decoration:none;
    border-radius:40px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.08);
}
